@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  padding-left: 150px;
  padding-right: 200px;
}

.header h1 {
  font-size: 24px;
  color: #f9faf8;
}

.header .right {
  display: flex;
  gap: 15px;
}

.header a {
  color: #e5e7eb;
  font-size: 18px;
  text-decoration: none;
}

.hero-section {
  background-color: #1f2937;
  padding-top: 100px;
  padding-bottom: 100px;
}

.hero-section .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 150px;
  padding-right: 200px;
  gap: 20px;
}

.hero-section .text h1 {
  font-size: 48px;
  color: #f9faf8;
}

.hero-section .text p {
  color: #e5e7eb;
  font-size: 18px;
}

.hero-section .text .blue-btn {
  border: none;
  outline: none;
  color: #fff;
  background-color: #3882f6;
  font-size: 18px;
  padding: 5px 25px;
  border-radius: 4px;
}

.hero-section img {
  width: 400px;
  height: 250px;
}

.main {
  padding-left: 150px;
  padding-right: 200px;
  padding-bottom: 100px;
  padding-top: 20px;
}

.main .top h1 {
  color: #1f2937;
  font-size: 36px;
  text-align: center;
}

.main .bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.main .bottom img {
  width: 200px;
  height: 200px;
  border-radius: 6px;
}

.main .box p {
  font-size: 18px;
  color: #1f2937;
}

.quote-section {
  display: flex;
  flex-direction: column;
  background-color: #e5e7eb;
  padding: 100px 250px;
}

.quote-section .top {
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-section .top .quote {
  font-size: 36px;
  font: italic;
  font-weight: 100;
  color: #1f2937;
}

.quote-section .bottom {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.quote-section .bottom h3 {
  font-size: 20px;
  color: #1f2937;
}
